<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of pet owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="micha.udemy.petclinic.model.Owner"*/-->
<h1 th:text="'List of Owners'">Owners list</h1>

<table>
    <thead>
        <tr>Id</tr>
        <tr>First Name</tr>
        <tr>Last Name</tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Joe</td>
            <td th:text="${owner?.lastName}">Buck</td>
        </tr>
    </tbody>
</table>
</body>
</html>